//////////////////////////////////////////////////////////////////////////
//
//
//				APPEL DES FICHIERS PARTIELS A COMPILER
//				pour le css de base
//
//
//////////////////////////////////////////////////////////////////////////

//////////////////// VARIABLES / FONCTIONS / MIXINS / ICONES / ANIMATIONS ////////////////////
 
@import 'general';
@import 'interface/navigation';
@import 'interface/titles';
@import 'interface/sections';
@import 'interface/badges';
@import 'interface/backgrounds';
@import 'interface/footer';
@import 'outils/variables/colors';

////////////////// INTERFACE //////////////////

//////////////////////////////////////////////////////////////////////////
//             variables
//////////////////////////////////////////////////////////////////////////

$padding: 4rem;

body{
    margin: 0;
    padding-bottom: 0;
    background-color: $secondaryLight;

    .container{
        padding: 2rem;

        @include responsive(md) {
            padding: $padding;
        }
    }
}