//////////////////////////////////////////////////////////////////////////
//
//
//             fonts
//
//
//////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: "Futura Medium";
    src: url(/fonts/Futura.ttc);
}

@font-face {
    font-family: "Sporting Grotesque Regular";
    src: url(/fonts/SportingGrotesque-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Sporting Grotesque Bold";
    src: url(/fonts/SportingGrotesque-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Yessica";
    src: url(/fonts/Yessica-Regular.otf);
}
