//////////////////////////////////////////////////////////////////////////
//
//
//             backgrouns
//
//
//////////////////////////////////////////////////////////////////////////

.bg{
    &-primary{
        background-color: $primary;
        color: white;
    }

    &-secondary{
        background-color: $secondary;
        color: white;
    }

    &-tertiary{
        background-color: $tertiary;
        color: white;
    }

    &-tertiaryLight{
        background-color: $tertiaryLight;
    }

    &-secondaryLight{
        background-color: $secondaryLight;
    }

    &-glassmorph{
        background: rgb(131,197,190);
        background: 
        radial-gradient(at 47% 33%, #83c5bf91 0, transparent 59%), 
        radial-gradient(at 82% 65%, #FFDDD2 0, transparent 55%);

        div{
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
        }
    }
}

.bg-outlined{
    background: transparent;

    &-primary{
        border: 3px solid $primary;
        color: $primary;
    }

    &-secondary{
        border: 3px solid $secondary;
    }

    &-tertiary{
        border: 3px solid $tertiary;
    }

    &-tertiaryLight{
        border: 3px solid $tertiaryLight;
    }

    &-secondaryLight{
        border: 3px solid $secondaryLight;
    }
}