//////////////////////////////////////////////////////////////////////////
//
//
//             badges
//
//
//////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////
//             variables
//////////////////////////////////////////////////////////////////////////

$this: ".badge-outlined";

.badge-outlined{
    border: 3px solid;
    border-radius: 20px;
    width: 7rem;
    font-family: "Futura";
    text-align: center;

    &#{$this}-white{
        border-color: white;
        color: white;
    }

    &#{$this}-primary{
        border-color: $primary;
        color: $primary;
    }
}