//////////////////////////////////////////////////////////////////////////
//
//
//             footer
//
//
//////////////////////////////////////////////////////////////////////////

footer{
    position: absolute;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: $primary;
    text-align: center;
    font-family: "Yessica";
    color: white;
    box-sizing: border-box;
}