@import "../general";

//////////////////////////////////////////////////////////////////////////
//
//
//             navigation
//
//
//////////////////////////////////////////////////////////////////////////

nav {
    li{
        display: inline-block;
        margin-right: 1.5rem;
        
        @include responsive(md) {
            margin-right: 2rem;
        }

        a{
            color: $primary;
            text-transform: uppercase;
            text-decoration: none;
            font-family: "Sporting Grotesque Regular";
        }
    }
}