@import "../general";

//////////////////////////////////////////////////////////////////////////
//
//
//             sections
//
//
//////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////
//             variables
//////////////////////////////////////////////////////////////////////////

$title: ".title";
$padding: 4rem;

#introduction {
    position: relative;
    height: 72vh;

    .intro {
        position: absolute;
        top: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        width: 100%;
        padding: 2rem;
        background-color: $tertiaryLight;
        text-align: center;
        box-sizing: border-box;
        transform: translateY(-50%);
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;

        @include responsive(md) {
            position: absolute;
            top: 50%;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 70vh;
            width: 45vw;
            padding: $padding;
            margin-right: -4rem;
            background-color: $tertiaryLight;
            text-align: right;
            box-sizing: border-box;
            transform: translateY(-50%);
            border-top-left-radius: 200px;
            border-bottom-left-radius: 200px;
            border-top-right-radius: 0px;
        }

        & > div:first-of-type {
            color: $primary;
            font-size: 3rem;
            font-family: "Sporting Grotesque Regular";
            text-transform: uppercase;

            @include responsive(md) {
                span {
                    display: block;
                }
            }
        }

        p {
            margin-bottom: 0;
            font-size: 2rem;
            font-family: "Yessica";
            color: white;

            &:last-of-type {
                margin-top: 0;
            }
        }
    }

    .picture {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 50vw;
        height: auto;
        min-height: 20vh;
        transform: translate(-50%, -50%);
        z-index: 2;

        @include responsive(md) {
            top: 50%;
            width: 25vw;
        }

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;

            @include responsive(md) {
                border-radius: 3rem;
            }
        }
    }
}

#performing-experiences {
    #experiences {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .column {
            width: 49%;
        }

        .experience {
            padding: 1rem;
            margin-bottom: 0.5rem;
            border-radius: 10px;
            box-sizing: border-box;

            @include responsive(md) {
                padding: 2rem;
                margin-bottom: 1.5rem;
            }

            p {
                font-family: "Yessica";
                font-size: 1.5rem;
            }

            .subtitle {
                font-family: "Sporting Grotesque Bold";
                font-size: 1rem;
            }

            &-list {
                p {
                    font-size: 1rem;

                    span {
                        font-family: "Sporting Grotesque Regular";
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

#studies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -2rem;
    font-family: "Yessica";

    .column {
        width: 45%;
    }

    @include responsive(md) {
        margin-right: 0;
        h1 {
            text-align: right;
        }
    }

    .title {
        color: white;
        padding: 1.5rem;
        font-size: 1.3rem;

        &-left {
            margin-left: -4rem;
            padding-left: 3rem;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;

            @include responsive(md) {
                padding-left: 4rem;
            }
        }

        &-right {
            margin-right: -2.5rem;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;

            @include responsive(md) {
                padding-right: 4rem;
                margin-right: -6.5rem;
            }
        }

        &-primary {
            background-color: $primary;
        }

        &-secondary {
            background-color: $secondary;
        }

        &-tertiary {
            background-color: $tertiary;
        }
    }

    #studies-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        margin-left: -4rem;
        padding: 2.5rem;
        padding-left: 4rem;

        .study {
            margin-bottom: 2rem;

            p {
                font-family: "Yessica";

                span {
                    font-family: "Futura";
                }
            }
        }
    }
}

#gallery {
    display: grid;
    grid-template: 25% repeat(4, 15%) / 50% 50%;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;

    .photo {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        &:nth-of-type(1) {
            grid-column: 1 / 3;
        }

        &:nth-of-type(6) {
            grid-row: 4 / 6;
        }
    }
}
