//////////////////////////////////////////////////////////////////////////
//
//
//             titles
//
//
//////////////////////////////////////////////////////////////////////////

h1{
    font-family: "Sporting Grotesque Regular";
    text-transform: uppercase;
    color: $primary;

    span{
        display: block;
        font-size: 2rem;
    }
}